#bigBox{
	border: 1px solid silver;
	background-color: green;
	width:250px;
	height: 250px;
	padding: 10px;
	border-radius: 10px;
}
#bigBox div{
	border: 1px solid white;
	background-color: red;
	float: left;
	color: white;
	font-size: 30px;
	text-align: center;
	width: 50px;
	height: 50px;
	padding: 10px;
	margin: 5px;
	border-radius: 10px;
}
#bigBox div:hover{
	background-color: pink;
	color: brown;
}